*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffeaf3;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fed8e9;
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8d2e3;
    border-radius: 20px;
    width: 100px;
    box-shadow: 5px 0px 5px 0px rgba(177, 134, 241, 0.199);
}

.imagenLogo{
    width: 60px;
    height: 60px;
}

.nombre{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Flamenco';
    font-weight: 300;
    justify-content: center;
    align-items: center;
    color: #b186f1;
    opacity: 80%;
}

#secciones{
    padding-right: 50px;
}

.seccion-a{
    font-family: 'Flamenco';
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    color: #b186f1;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(177, 134, 241, 0.466);
}